h1{
    font-size: 80px;
    font-weight: 700;
}
p{
    font-size: 35px;
    font-weight: 400;
}
button
{
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
}
button:hover
{
    background-color: green;
}